@model IEnumerable<ServerSide.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<span class="title">Ratings</span>

<p>Average rate: @ViewBag.average</p>
<form id="search-form">
<input name="query" id="search" />
<input type="submit" value="Search" />
<br />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="rateList">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script type="text/html" id="template">
        
    <tr>
            <td>
                {comment}
            </td>
            <td>
                {publishedDate}
            </td>
            <td>
                {name}
            </td>
            <td>
                {rate}
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="{id}">Edit</a> |
                <a asp-action="Details" asp-route-id="{id}">Details</a> |
                <a asp-action="Delete" asp-route-id="{id}">Delete</a>
            </td>
        </tr>
    </script>
    <script src="~/js/search.js"></script>
}
<p>
    <a class="btn webButton" asp-action="Create">Create New</a>
</p>
